#main-container {
  margin-top: 50px;
}

#more-button {
  margin-top: 10px;
}

#search-box-area {
  margin-bottom: 10px;
}

#search-area {
  padding-left: 0;
}

div.trash-button.icon.buttons {
  margin-left: 10px;
}
